<!DOCTYPE html>
<html>
<head>
    <title>System Programming</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='codemirror.js') }}"></script>
    <script src="{{url_for('static', filename='echarts.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='CodeMirror_5_33_0/theme/seti.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='codemirror.css') }}">
    <script src="{{url_for('static', filename='CodeMirror_5_33_0/mode/clike/clike.js') }}"></script>
    <script src="{{url_for('static', filename='CodeMirror_5_33_0/mode/ebnf/ebnf.js') }}"></script>
    <script src="{{url_for('static', filename='CodeMirror_5_33_0/addon/edit/matchbrackets.js') }}"></script>
    <script src="{{url_for('static', filename='CodeMirror_5_33_0/addon/selection/active-line.js') }}"></script>
    <script src="{{url_for('static', filename='CodeMirror_5_33_0/addon/scroll/simplescrollbars.js') }}"></script>
    <script src="{{url_for('static', filename='CodeMirror_5_33_0/addon/runmode/runmode.js') }}"></script>
    <link rel="stylesheet"
          href="{{url_for('static', filename='CodeMirror_5_33_0/addon/scroll/simplescrollbars.css') }}">

</head>
<body>
<div class="container">
    <div class="header" style="text-align:center">
        <h1>System Programming</h1>
        <a class="btn btn-info" role="button" href="/">Scanner and Parser</a>
    </div>
    <div class="row-fluid marketing">
        <div class="span6">
            <form action="{{ url_for('add_entry') }}" method="post" class="add-entry form-group">
                <div class="row">
                    <div class="col-sm-5"><a>C0 Codes:</a><br>
                        <textarea id="text" rows="20" cols="50" class="form-control">{% with editor = get_flashed_messages(category_filter=["editor"]) %}{% if editor %}{% for message in editor %}{{ message }}{% endfor %}{% endif %}{% endwith %}</textarea>
                    </div>
                    <div class="col-sm-6">
                        <a>BNF Rules:</a><br>
                        <textarea id="bnf" rows="20" cols="80" class="form-control">{% with editor = get_flashed_messages(category_filter=["bnf_editor"]) %}{% if editor %}{% for message in editor %}{{ message }}{% endfor %}{% endif %}{% endwith %}</textarea>
                    </div>
                </div>
                <br><br>
                <input type="button" id="submit_data" class="btn btn-primary" value="Submit">
            </form>
        </div>

        <div class="span6 emulator">

            <div class="row" style="margin-bottom: 10px">
                <div class="col-sm-6" id="emulator_code" class="cm-s-default"></div>
                <div class="col-sm-3">變數列表:
                    <div id="variableTable"></div>
                </div>
                <div class="col-sm-3">結果:
                    <div id="return"></div>
                </div>
            </div>
            <input type="button" id="step" class="btn btn-primary" value="step">
        </div>
        <div id="visgraph" style="width: 1280px;height:720px;"></div>
        <div class="span6">
            <pre id="output" class="flash"></pre>
        </div>


    </div>
</div>
<script src="{{url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
<script src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>
